# Compiled source #
###################

# OS garbage #
##############
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db

# Unity garbage #
#################
snowbound_beta/Library/*
snowbound_beta/Temp/*

# Visual Studio garbage #
#########################
*.sln
snowbound_beta/.vs/*